@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss" ;
.container {
    @include Padding;
    width: 100%;
    background-color: $purple-color;
    border-bottom: 0.5px solid #afafaf;
    display: flex;
    color: $white-color;
    align-items: center;
    justify-content: space-around;
    padding-top: 34px;
    padding-bottom: 34px;
    ul {
        display: flex;
        gap: 1.8rem;
        font-size: 22px;
        li + li {
            margin-left: 38.9px;
        }
    }
    li {
        list-style: none;
        transition: 0.5s;
        cursor: pointer;
    }
    li:hover {
        letter-spacing: 0.5rem;
        color: gold;
    }
    
}