@import "/styles/mixins/padding.scss";
@import "/styles/mixins/colors.scss";

.text {
    h1 {
        font-weight: bold;
        font-size: 71px;
    }
    p {
        font-size: 30px;
        opacity: 0.8;
    }
}
.container {
    @include Padding;
    padding-top: 50px;
    background-image: url("/images/fundoWelcome.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    
}

.image {
    text-align: end;
}